html,body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdc058;
    background-image: url("https://cdn.discordapp.com/attachments/1038329663187062804/1069076685649096744/treehouse_7.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;

}

/*INSTRUCCIONES*/
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text-cont {
    margin:2% 0;
    position: relative;
    width: 100%;
    height:auto;
    background-color: rgba(0, 0, 0, 0.5) ;
    color: white;
    display: flex;
    flex-direction: column;
    text-align:justify;
    padding: 30px;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 20px;
}

.text-cont h2 {
    font-family: 'Pacifico';
    font-size: 150%;
    margin: 0;
    margin-bottom: 1%;
}

.text-cont p {
    font-size: 100%;
    margin: 0;
}
/*BARRA*/
#barra-nav {
    background-color: #FFFEFD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Pacifico', cursive;
    font-size: 1.3em;
    font-weight: bold;
}

#barra-nav img {
    height: 60px;
}

#barra-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 30%;
    flex-grow: 1;
    justify-content: space-evenly;
}

.ingreso, .registro, .logout{
    color: white;
    border: 1px solid;
    border-radius: 4em;
    background-color: #DD5C35;
    text-decoration: none;
    padding: 8px 16px;
    margin-right: 8px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 0.7em;
}

.ingreso:hover, .registro:hover, .logout:hover{
    background-color: black;
    transition: 0.8s;
}

li .seccion {
    color: black;
    text-decoration: none;
    padding: 20% 20px;
}

li .seccion:hover {
    color: #E8A705;
    font-size: 1.1em;
    transition: color 0.5s;
    transition: font-size 0.8s;
}

.user-info {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0.1;
}

.user-info .seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.user-info .seccion p {
  margin: 0;
}

.botones {
    display: none;
}

/*JUEGOS*/

.container2 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(218,221,137, 0.5) ;
    color: white;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    padding-left: 6%;
    padding-right: 6%;
    margin:2% auto;
    border-radius: 20px;

}
.section1{
    flex: 0 0 calc(60% - 1rem);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}
.section1 h1{
    text-align: center;
}
.section1 table{
    margin: 0 auto;
}
.section1 button{
    width: 100px;
    height: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.section1 button:hover{
    cursor: pointer;
}
.section2{
    flex: 0 0 calc(40% - 1rem);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1px 20px;
}
.cont{
    display: flex;
    justify-content: center;
}
.cont button{
    padding: 1px;
    border: 1px solid;
    border-radius: 4em;
    background-color: #DD5C35;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    padding: 8px 16px;
    color: white;
}
.stadistics{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
    font-size: 18px;
}
a{
    text-decoration: none;
}
/*Footer*/
footer {
    position: relative;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}

.footer-container{
    height: fit-content;
    width: 100%;
    padding: 1rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-title{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.2rem;
    font-family: 'Quicksand', sans-serif;
}

.social-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}
.social-link{
    height: 100%;
    width: 50px;
    background-image:url("../Images/FacebookBlanco.png");
    background-size: 50%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover{
    opacity: 0.7;
}

footer .social-link:nth-of-type(2){
    background-image: url("../Images/TwitterBlanco.png");
}
footer .social-link:nth-of-type(3){
    background-image: url("../Images/LinkedinBlanco.png");
}

/*COPYRIGHT*/
.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}
/*COPYRIGHT*/
/*Queries*/

@media screen and (max-width:992px){
    .container{
        height: 150%;
    }
    .container2{
        flex-wrap: wrap;
    }
    .section1{
        flex: 0 0 calc(100% - 1rem);
    }
    .section2{
        flex: 0 0 calc(100% - 1rem);
    }
    .section2 h2{
        font-size: 17px;
    }
}
@media screen and (max-width:767px){
    .container{
        max-width: 100% !important;
    }
    #barra-nav {
    flex-direction: column;
    padding: 0;
  }
  .botones {
    padding: 10px 0;
  }
  .ingreso, .registro {
    font-size: 0.5em;
    margin: 0;
  }
  #barra-nav ul {
    width: 100%!important;
    padding: 10px 0!important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .seccion {
    font-size: 0.7em;
  }
  .seccion:hover {
    font-size: 0.9em;
  }
}
@media screen and (max-width:576px){
    .section1 button{
        height: 90px;
        width: 90px;
    }
    .container{
        max-width: 100% !important;
    }
    .section1 img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
